@import "../../assets/theme/colors.scss";
.floating-menu {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $accent;
    transform: scale(1.4) translateX(10px);
  }

  .menu-toggle {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
      align-items: center;
      justify-content: center;
  }
  .menu-items__show {
    transform: translateY(0);
  }
  .menu-items__hide {
    transform: translateY(50vh);
    opacity: 0;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    transition: all 0.5s;

    .item-details {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        .item-name {
          right: 40px;
          opacity: 1;
        }
      }
      .item-name {
        transition: all 0.4s;
        right: 0;
        opacity: 0;
        border-radius: 30px;
        cursor: pointer;
        white-space: nowrap;
        top: 50%;
        background: $accent;
        transform: translateY(-50%);
        position: absolute;
        min-width: 100%;
        padding: 10px 20px 10px;
      }
    }
  }
}
