.landing-page {
  .totalized {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .profile {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;
    background: white;
    z-index: 2;
    &-details{
      display: flex;
      align-items: center;
    }
    .circle {
      width: 60px;
      height: 60px;
      margin-left: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .currencies{
    position: relative;
    margin-top: 6vh;
      height: 60vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
  }
}
