@import "bootstrap/dist/css/bootstrap.css";
@import "./assets/theme/colors.scss";
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}
.error-text {
  color: red;
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
}

.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
}

.pointer{
  cursor: pointer;
}